/* _______________________________________________________________| GLOBAL RESET */
:root {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}
/* _______________________________________________________________| GLOBAL RULES */

/* _______________________________________________________________| FONT SIZES */

/* _______________________________________________________________| FONT WEIGHTS */

/* _______________________________________________________________| COLORS */
